@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  interpolate-size: allow-keywords;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  /* background-color: white; */
}

.nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  border-bottom: 1px solid #a8996e;
  background-color: #0f0f0f;
  z-index: 1000;
}
.nav .nav-main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.nav ul li {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.nav ul li a {
  text-decoration: none;
  color: #a8996e;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: staggered-drop 1s ease forwards;
  padding: 0 30px;
}

.nav li a:last-child {
  margin-right: 3rem;
  color: #0f0f0f;
  font-weight: 600;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

/* .nav-main li :first-child{
  position: relative;
  margin-right: auto;
  color: goldenrod;
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: 3px;
  cursor: grab;
}  */

.nav-main {
  width: 100%;
}
.nav ul li a:nth-child(1) {
  animation-delay: 0.1s;
}
.nav ul li a:nth-child(2) {
  animation-delay: 0.2s;
}
.nav ul li a:nth-child(3) {
  animation-delay: 0.3s;
}
.nav ul li a:nth-child(4) {
  animation-delay: 0.4s;
}
.nav ul li a:nth-child(5) {
  animation-delay: 0.5s;
}
.nav ul li a:nth-child(6) {
  animation-delay: 0.6s;
}
.nav ul li a:nth-child(7) {
  animation-delay: 0.7s;
}
.nav ul li a:nth-child(8) {
  animation-delay: 0.8s;
}
.nav ul li a:nth-child(9) {
  animation-delay: 0.9s;
}

/* .nav ul li a:nth-child(9):hover {
  color: #a8996e;
  font-weight: bold;
  border: 2px solid;
} */
@keyframes staggered-drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav .logo {
  position: relative;
  top: 10px;
  left: 5%;
}
.nav .sidebar {
  position: fixed;
  top: 10vh;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 9999;
  background-color: white;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(46, 46, 46, 0.7);
}

.nav .sidebar li {
  width: 100%;
}

.nav .sidebar li a {
  color: white;
}
#home {
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 5%;
  z-index: 1;
  display: flex;
  gap: 50px;
  padding: 0 20px;
}
.btn {
  height: 45px;
  width: 130px;
  background-color: #0f0f0f;
  border-radius: 5px;
  cursor: pointer;
  color: #a8996e;
  text-decoration: none;
  font-weight: 500;
  outline: none;
}
.btn:hover {
  font-weight: 700;
  background-color: #0f0f0f;
}

.button-container a {
  text-decoration: none;
  color: #a8996e;
  font-weight: 500;
}

.button-container a:hover {
  font-weight: 700;
}

.main-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 90vh;
  gap: 2rem;
}

#home-pic {
  width: 100vw;
  height: 90vh;
  object-fit: fill;
  aspect-ratio: 16/9;
}

.main-video {
  position: absolute;
  margin: auto;
  z-index: 10;
  width: 70%;
  height: 66%;
  aspect-ratio: 16 /9;
  display: none;
}

/* #videoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 56%;
} */
/* section:nth-child(odd) {
  background-color: #24272e;
}

section:nth-child(even) {
  background-color: #484848;
} */

section .container .photos-title {
  background-color: green;
  color: #24272e;
}

.photos-grid-container {
  width: 75%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, 550px);
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  /* background-color: white; */
  padding: 2rem 0;
}

.photo-gallery img {
  width: 550px;
  object-fit: fill;
  filter: grayscale();
  transition: filter 0.4s ease in;
  border-radius: 10px;
}

.photo-gallery img:hover {
  transform: scale(1.03);
  filter: none;
}

.slider-container {
  position: relative;
  width: 70%;
  height: 70vh;
  margin: 10vh auto;
  overflow: hidden;
  border: 5px solid #a8996e;
  border-style: double;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.video-main-container {
  display: grid;
  width: 80%;
  min-height: 80vh;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.video {
  width: 350px;
  aspect-ratio: 16 / 9;
  border: 2px solid #a8996e;
  border-radius: 5px;
}

.media-heading {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  color: #007b7f;
  padding: 30px 0;
  border-bottom: 1px solid #a8996e;
}

.slider {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  color: white;
}

.slide img {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.testimonial {
  margin-top: 20px;
  font-style: italic;
  font-size: 1.2rem;
  max-width: 70%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px;
  text-decoration: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

#setlist {
  background-image: url(./src/img/song-container.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* filter: brightness(0.7); */
}

.setlist-container {
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  width: 100%;
  min-height: 100vh;
  /* padding: 2rem 0; */
}

.song-container-inner {
  display: flex;
  align-items: center;
}

.song-container-inner p {
  color: white;
}

.song-container-inner h3 {
  font-size: 1.8rem;
  align-self: center;
  text-shadow: -2px 3px black;
}

.song-container-inner {
  height: auto;
  padding: 2rem 2rem;
  color: whitesmoke;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#FAQs {
  min-height: 100vh;
  padding: 8rem;
  display: flex;
  justify-content: flex-start;
}
details {
  background: white;
  border: 1px solid #6b4f08;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  overflow: hidden;
}

/* don't add margin/padding to this, add it to the actual
   stuff inside the details content */
details::details-content {
  color: hsl(0 0% 78%);
  font-size: 8rem;
  block-size: 0;
  transition: block-size 1s, content-visibility 1s;
  transition-behavior: allow-discrete;
}

details:open::details-content {
  block-size: auto;
}

h1,
h2,
h3,
h4,
p,
details,
summary {
  margin-block-end: 0;
  color: #007b7f;
}

.page-layout {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr)
    min(960px, 100% - 4rem)
    minmax(2rem, 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  /* margin-block: 5rem; */
  /* container-type: inline-size;
  container-name: page-layout; */
}

.section-title {
  font-size: 2rem;
  margin: 0;
  line-height: 1;
}

.section-icon {
  font-size: 3rem;
}

.faq {
  display: grid;
  gap: clamp(1rem, 10vw, 2.5rem);

  @container (width > 650px) {
    grid-template-columns: 250px 1fr;
  }
}

.questions-and-answers {
  margin-block-start: 3.5rem;
  width: 60%;
}

.questions-and-answers {
  display: grid;
  gap: 1rem;
}

details * {
  margin: 0;
}

/* details  p {
    padding-block: 25rem;
  } */

summary {
  color: #271f06;
  line-height: 1.5;
  margin-inline-start: 1rem;
  list-style-position: outside;
  font-size: 1.1rem;
}

summary::marker {
  font-size: 1.2em;
  color: #a8996e;
}

.questions-and-answers p {
  padding: 0 3rem;
  background-color: rgb(238, 238, 238);
}

#contactus {
}

.container-contact {
  background-image: url(./src/img/Contact\ Page\ BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 2rem;
  border: 3px solid #a8996e;
  border-radius: 2px;
  width: 70%;
  height: 70vh;
}
.contact-heading {
  position: relative;
  top: -5rem;
}

.right-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

.right-side #firstName {
  width: 70%;
}

.left-side {
  border: 2px solid green;
}
